انا باعطيك رقم تلفونه وعنوانه.
فيك تغير لي مقعدي؟
اسمك مرة ثاني؟
في محل شامل قريب من هون؟
هالباص بيروح عاوتيل الشيراتون؟
لشو بيصير هيدا؟
في شوية شوب. فيي افتح الشباك؟
عينيي مدممين.
ما فيي اضمن هيدا، بس رح نعمل جهدنا.
امتين بيبلش ماتش الباسكيت؟
اي نوع من الحجر هيدا؟
عن اذنك، استاذ. حابب زور بعض معالم المدينة ببوستن.
انا مهتم بشنطة الايد الزرقة بالشباك.
بدك تاخذه معك او منبعث لك اياه؟
امتين بيصير في طاولة متوفرة؟
بدي مقعد حد الشباك، اعمول معروف.
بدي اسجل هالشنطة.
صعبة ينقال الوداع.
فيها تكون بالمكنة او بتتغسل بالايد بالبيت؟
بدي صندوق ماي ملونة، اعمول معروف.
بهالحالة، بانصح بهيدا.
فيك تخلي اغراضي الغالية؟
من النظر اله، مبين انك لقطت نوع من الالتهاب.
فيي احصل على مقعدين بالطابق الثاني لهالليلة؟
اي ساعة مكتب البريد بيفتح؟
شكرا. هيدا مفتاح اوضتك. العتال رح ياخذ لك شنطاتك.
خلي شنطاتي، اعمول معروف.
ما بافتكر انه فيي كون الك عون.
فيك تسأله ليوقف تدخين، هونيك؟
باتمنى اعمل اعمال خيرية.
استعدت صحتي كليا.
فيك تعطيني شوية ماي، اعمول معروف؟ انا كثير عطشان.
رح آخذ وجبتين من نودلز موريسوبا.
جرحت حالي بقزازة هون.
لازم كنت سألت المدرب، بس فيك تقل لي اي مكنة منيحة لتمرين الظهر؟
عامل المكالمات.
بافتكر انه نحنا بالمحطة الغلط.
بتتذكر رقم السيارة؟
بيرة، ستيك مع بطاطا مقلية، وسلطة الشيف المميزة.
رح دق مرة ثاني.
بتعرف اذا هالمطعم بيتطلب حجز؟
فيه محل حلاقة بالاوتيل؟
عندي شي اسألك اياه.
اعمول معروف دفي الاوضة اكثر.
ما فيي قول لك.
وين منصة رقم خمسة؟
بدي مرشد بيحكي الياباني.
خلصت من عشاك؟
نوعية هيدا احسن.
باشارط باثنين جنيه.
عندك جولة بتتضمن زيارة لجسر الغولدن غيت؟
هيدي الرحلة سبعة وثلاث دقايق لطوكيو باربعة ايلول، الجمعة.
عم نبش عمعجون.
شو بخصوص بكرة؟
في صحتك.
عندك بالنتاين عمرها عشر سنين؟
يمكن نكون قادرين، بس للاسف رح تاخذ كم شهر.
بدي شي باسلوب شانيل المتكرر.
بدي سجل بجولة شلالات نياغرا.
بافتكر.
اوه لاء. عم بيقول لي شي. شو لازم اعمل؟
اي باص بيروح عصالة غيلد؟
هو عالرف الثاني بالصف الوسطاني.
بحاجة انه ارجع عاليابان هلق؟
كان فيه عليقة مفاتيح عشكل بسينة معلقة بشريط هون.
بالظبط ثمانتعشر دولار.
هيدا بيت بيجنن.
واحدة كوكا صغيرة، اعمول معروف.
قديه بيكلف تأمينه بثلاثمية دولار؟
فيك تقل لي اعمول معروف هالسعر لشو؟
شو اللعبة اللي عم تنلعب عالملعب؟
عالسبعة الصبح، التوقيت المحلي.
الصندوق طوله خمسة وستين سنتيمتر، عرضه ثلاثين سنتيمتر، وثمانتعشر سنتيمتر ارتفاعه.
الساعة عشرة. هيدا مفتاح اوضتك. اوضتك هي اربعة وخمسين ثلاثة وثلاثين. الحمال رح ياخذ لك شنطاتك لفوق.
فيك تقص لي غرتي نص اينش فوق حواجبي؟
ابروم عالشمال عاشارة الضو.
اعمول معروف شيل ثيابك وغير لهيدا الروب.
عندك شريط؟
وين اقرب محل صبابيط؟
عندك عين للفن.
عم تاخذ اي دوا ثاني؟
العفو. بافضل مقعد بالممر.
عندك جزدان بيلبق معه؟
كثير ضيق هون.
مرحبا، هون الاوضة اثناعش اربعة وثلاثين. اسمي اودا. بدي اتصال توعاية عالستة الصبح بكرة، اعمول معروف.
انت عضو بالنادي المنتشر تبعنا استأجر-سيارة؟
مش عم فيي قول اللي عمتقوله.
عندك وجع راس؟
فيك تاخذني عاقرب محطة؟
ايه، عندي.
فيك تعطيني شي جريدة او مجلة؟
بدي كتاب قواعد.
في ملعب تنس قريب من هون؟
امتين اليابان بيحتفل ببراعم الكرز بتحولهن لزهور؟
ايه، عملنا. رح ارجع معه.
شو بدك عليه؟
هالنوع من البرنيطة مبين انه بالموضة. بافتكر رح اشتري واحدة، كمان.
كيف بدك فاتورتك؟
فاتح هلق؟
شو المعارض الرئيسية بهالغاليري؟
نحنا رح نقلع قريبا.
واو. شو هالوجبة الكبيرة.
اي طريق تران ميلانو بيفل منها؟
اعمول معروف قل لي كيف باعمل مكالمة دولية.
فيي احمل شنطاتي عالمتن؟
ميزانيتي خمسين دولار.
رح اوصلك باستاذ سوزوكي.
هالسن انكسر.
انا، كمان. فكرت انه فيك تساعدني اكتشف القائمة.
لازم لفه؟
بتاخذ حوالي ثلاث ساعات للروحة عالمكتب والرجعة.
عندي بطاقة على ديترويت اللي بتمشي عالحدعش الصبح.
حفلة من اربعة، عالسبعة ونص عشية. تحت اي اسم بتحب هيدا؟
بدي غير طلبي.
خمسة وعشرين دولار بتتضمن سعر الباص، مرشد ورسم الدخول.
اياها بتفتكر بتروح مع هيدا؟
ايه، عم نبش عفستان.
يسلموا كثير لانك وصلتني لهون بعد ساعات. عن جد باقدر مساعدتك.
المفروض انه تدفا اكثر هالليلة.
وين المقبرة؟
هيدا مشوه.
عن طريق البريد البحري؟
خطر اذا ما اخذت تاكسي بالرجعة عالاوتيل.
رح نوصل عالوقت؟
بدي شوية تغيير.
فيك تحكي عمهلك اعمول معروف؟
عم نبش على شال حرير.
بدي فل عالسبعة بكرة الصبح، منشان هيك بدي فاتورتي هلق.
فيه اربع فصول متميزة.
رح تاخذ حوالي تسعة وتسعين يوم لاعادة اصدار بطاقة. اعمول معروف اكتوب تحت اسم الاوتيل تبعك ورقمك عهالورقة، لنقدر ندق لك.
رح تروح عالمدرسة؟
بدي خيمة.
الساعة واحدة واربع دقايق بعد الظهر.
عالمشتريات اللي بتزيد فوق التسعة وتسعين دولار، فيك تستعمل نظام الاعفاء من الجمارك.
فهمت. فاذا بطاقتين روحة رجعة على سان دييغو، اعمول معروف.
هن تمام للبحر.
من ورا العاصفة الثلجية، الطيران الكندي الرحلة صفر اثنين واحد تأجلت.
رح اقدر جيب كل شي موجود عاللايحة من السوبر ماركت او لازم روح كمان عالصيدلية؟
وين المعرض؟
قديه وقت بياخذ بالبريد البحري؟
بدي غير رحلتي.
حابب آخذ درس بالتزلج.
لشخص واحد؟
فينا نلعب مع هالصبابيط؟
اخذ جزداني.
شو لازم اتوقع البس؟
اكيد. واعمول معروف وصل احر تمنياتي لمدام كوك اللي اخذت كثير من المبادرات المنيحة خلال اجتماعنا.
عندك اي اقامة متوفرة بهالسعر؟
من الشمال، هيدي بتبين الوقت اللازم للتصنيع، اسقاط التكلفة، والمخاطر المالية.
عننا بس قياس ثماني هلق.
انا بس عم باقطع.
بدي واحد قوي.
فيك تساعدني آخذ بطاقات؟
هالقهوة كثير قوية.
فيك تعطيني بنج؟
تطلعت منيح بالمشتبه فيه؟
بدي ثياب داخلية.
الطبق الرئيسي مزيج من اللحم البقر المشوي وسرطان البحر.
اي طريق التران تبع بوسطن بيبلش منها؟
رح ناكل سوا، فاعمول معروف جيب شوكة زيادة؟
باوتيل هاليكولاني.
شو سعر اجار التلفون الخليوي وجهاز النداء؟
عم تاخذ طلبات للعشا بعدك؟
طاولة شباك، اعمول معروف.
فيك تفرجيني الواحد اللي عالطاولة؟
ما عندك فواتير اصغر؟
فينا ناخذ منفضة، اعمول معروف؟
بدي مسكن.
فيك تدق لشركة تأمين؟
بطاقة طالب واحدة، اعمول معروف.
اعمول معروف اكتوب رسالة بمجرد وصولك.
باعتذر. شوف، رح ادفع عكل شي. بس ما تدق للشرطة. بيي رح يقتلني.
عجل.
عن اذنك، فيك تدلني عالمحطة؟
بدي شوف الجبال.
صرف هيدي للبيزيتا، اعمول معروف.
لاء، بس عننا حكيم بيفهم الياباني كثير منيح. منشان هيك مافيه مشكلة ابدا.
فرجيني جدول المواعيد، اعمول معروف.
بتعرف لك شي حكما بيحكوا ياباني؟
مش مصدق انه لازم ارجع عاليابان. باتمنى لو فيي ابقى اكثر.
بيشتهر بالمحيط الحلو.
مستعد انك تضرب السعر نزول للسبعة دولار؟
حضرت اللعبة؟ اليانكيز ربحوا.
لاء يسلموا، فيي لاقيه بنفسي.
فيك تقل لي برامج التلفزيون لليوم؟
على اي اذاعة الفيلم؟
شو الكوكتيل المميز تبعك؟
هيدا كان معروف بين الالف وتسعمية واربعين للالف وتسعمية وستين.
عندك خرما؟
فيي اسأل عن وقت الفلة من هون؟
فهمت. خليني اتأكد من كتابي. عندي افتتاح هالجمعة. بتفضل الصبح او بعد الظهر؟
باعتذر. ما معي كفاية هلق.
اوك. خلينا نعملها. انت جاهز؟
هيدا كوارتز؟
آه، لازم جيب معجون اسنان كمان.
رقم التلفون واحد اثنين ثلاثة اربعة خمسة ستة.
بتحب سمك او لحم بقر؟
فيك تشوف هالرسم البياني لاختبار البصر، اعمول معروف؟
طلع لي قنينة واحدة من الماي المعدنية من البراد.
ما كان بدي هيدا.
فهمت. مبين منيح. بس مانه شوي غالي.
قديه حقو لليلة؟
هو هش او قابل للكسر؟
يسلموا لشرح كل هيدا الي.
ما عندي حركة مصارين من ثلاث ايام.
بيعتمد اذا كان عندك او لاء شي تعلنه.
مانشستر اذا بتريد.
هيدا الوصل تبعي للدفعة.
اعمول معروف فرجيني.
ليش منتج ا حافظ على حصته الكبيرة بآخر خمس سنين؟
اي ساعة آخر تران بيفل؟
شو ما نقيت منيح.
فيي اطلب منك تدق لي بعدين؟
فيي جرب القياس الثاني الاكبر؟
فيي آخذ شوية دوا للمعدة؟
فيي آخذ حمالة شنطة؟
بدي ابعث برقية.
هيدا لانه القرارات تاخذت بشكل جماعي.
اذا باشتري اثنين، قديه رح تعمله؟
بدك شاي؟
هيدا اصلي؟
بتخلوا شوية مسكنات للاوجاع بهالاوتيل؟
باعتذر، ما فيي. فيي بس وقف عالاوتيلات المذكورة هون.
شو رقم البوابة؟
خوذ هيداك المخرج هونيك وابروم عاليمين، اعمول معروف.
وين السلم؟
مافيه اذى مقصود.
عن اذنك، بس بافتكر انك قاعد بمقعدي. شو رقم مقعدك؟
بافضل اوتوماتيك.
بدي آخذ الرحلة الثانية عبوسطن.
بدي اعمل اتصال خارجي عاليابان، اعمول معروف.
مع كريمة وسكر، اعمول معروف.
فيه كازينو بالمدينة.
انا جوعان.
فيي آخذ ويسكي مع صودا وبراندي، اعمول معروف؟
جيبتي انسرقت.
حط مصرياتك محل ما تمك موجود.
عندك اي جرايد يابانية؟
فيي فوت؟
اذا بدك خدمة نهار واحد، خمسين بالمية زيادة رسوم رح تنضاف عفاتورتك. هيدا الشي تمام؟
فيه ملصق ميكي ماوس عليه.
عندي صعوبة ابعد عن رفيقي عالطريق.
فيي آخذ عشر فواتير تبع الدولار لهالعشرة، اعمول معروف؟
بتشاركني بوجبة خفيفة؟
هي بقسم قانون الضرايب للشركات.
وين فيي اشتري زي تقليدي؟
بتقبل شيكات سياحية؟
سيارة لغير المدخنين، اعمول معروف.
اعمول معروف اكتوب تحت عنوانك الدايم.
نحنا مستعدين نجاوبكم دغري على اي استفسارات عنكن ياها.
خليني اقرا الرقم حسب الشكل، واحد، صفر، فاصلة، سبعة، تسعة، اربعة.
انا هين. شو حاسس بدك تعمل؟
بطارية خلية ناشفة لهالكاميرا، اعمول معروف.
حجزت مقاعد عالشباك.
حوالي خمسمية فرانك او مية دولار اميركي.
اي ماركة ثانية؟
باسفل الجنوب.
لفة واحدة من فيلم ابيض واسود، عشرين صورة، اعمول معروف.
بدي عالاكثر فئة الخمسة جنيه، اعمول معروف.
عن اذنك، فيك تقل لي كيف باوصل عاقرب بنك؟ 
فينا نحطك عالثلاثة بعد الظهر. اذا بدك تستأجر شي معدات، اذا بتريد تعا عالنادي الثلاثة الا ربع.
اجار الباص مية وثمانين ين. 
وين منطقة الشنط؟ 
عن اذنك، فيك ترفع مقعدك شوي؟ 
نهار حلو، ما هيك؟ 
فيي آخذ علبتين هدايا؟
انا من اليابان. 
رح شوف، للاسف ما عم باقدر لاقي اسمك.
قديه بدها تقريبا لنوصل لهونيك؟ 
فيي آخذ هالظرف؟ 
بياخذ يومين لثلاثة.
بدي لمبة لو سمحت. 
شو الاعاقة اللي عندك؟
اوه، اكيد خذه. عظيم. هلق انا عالشباك.
قديه بدها بالباص؟ 
كثار مش عارف اي واحد نقي.
لا، انا بريد جينز وبدلات ببناطلين.
بدي استاجر سيارة صغيرة.
رح توقف هون لهالعرض؟
حاطط كثير ملح فيه.
كم كونتاينر حليب بتشتري كل اسبوع؟
رح تشرحه مرة ثانية؟
آه حلو، رح جربه.
فيك تعطيها دوا لدوخة الطيران لو سمحت؟
ما فيي اشرح وضعي بالانكليزي.
كيف بعمله؟
اذا صار شي اذا بتريد خبرني.
مات خلص، اذا بتريد.
لازم اطلب الترويقة هلق؟
شيك هيدا مرة واحدة اذا بتريد لآخر محطة، اذا بتريد.
وقعت شوربة.
لا ما معي هالقد مصاري.
ايه، بآخذ شمبانيا مع المقبلات.
خليني اتفقد اذا بمحلنا الثاني موجود بالمخزن عندهن.
اي وقت بيعلى المد والجزر؟
ليعمل بحث بالتاريخ الاميركي بجامعة هارفرد.
عم فتش عشال لامي. عمرها بالستينات.
بتشتغل هون؟
بدي ادفع للاتصال.
شو؟ دوبنا آخذين الوجبة، وهلق عم بيجيبوا لنا واحدة ثانية.
حجزك تأكد.
فيك تاخذني عمستشفى؟
غرفة العشا الرئيسية بتفتح عالثمانة وبتسكر عالعشرة.
اي نوع بطارية بتستعمل؟
بدي كتاب للاولاد اذا بتريد.
باعتذر بس بدي الغي الحجز.
وين الديسكو المشهور؟
بدي احضر لعبة بيسبول محترفة.
عندي ارتباط ثاني بهيداك النهار.
عندك من هيدا اخضر؟
ايه هياه. فيي شوف دفتر السواقة تبعك اذا بتريد؟
بتقل لي عن اوتيلات تحت الخمسين جنيه بالليلة؟
رح شيل عشرين بالمية من السعر.
عندك خريطة لحلبات التزلج؟
لصحتك.
بالمناسبة، كيف عم تختبر البرنامج؟
عندك شي للتصريح؟
اذا بتريد جيب لي شنطي عغرفتي.
قضيت وقت حلو هون. شكرا عكل شي.
شو فيه شي سريع؟ ما معنا وقت.
اي رقم باص بيروح عسيرك بيكاديلي؟
فيك تصلحه اذا بتريد؟
فيك تحجز بطاقتين؟
بياخذ بطاقة ماستر؟
العفو. بالمناسبة، فيه تلفونات بالمصاري قريبة من هون؟
عندي شوية غسيل.
وين القصر؟
عندك جاكيت مع طاقية فرو؟
فيه بطاقات؟
علي ايديك.
شو تشخيصك؟
نحن مهتمين بالدين.
الشتا تحول لثلج.
منتروق عالسبعة كل يوم الصبح ما عدا عالويك اند.
فيك اذا بتريد تربط القشاط وتوقف تدخين لبعد الاقلاع؟
بدي موز.
شو الشكوى تبعيتك؟
هون غرفة سبعمية واثنين. اذا بتريد فيقوني عالسبعة بكرة الصبح.
كثير غالي بالنسبة الي. فرجيني واحد ارخص اذا بتريد.
عم بدرس انكليزي.
اذا بتريد حط خمسة دولار وخمسة وعشرين سنت للثلاث دقايق الثانيين.
اذا بتريد سلم كروت الحط.
قديه بدها وقت عفيلادلفيا؟
كان طويل وشعره اشقر.
تكت روحة رجعة عميامي اذا بتريد.
اسمي واتانابي غروه.
قديه بيكلف ابعث هالرسالة لكن؟
بدي شي للسعلة.
من آخر الصف؟
بيبلش من التسعة.
بعدين انزال بعد محطة وخوذ الباص عهايد بارك.
بدي مقعد بالممر، اذا بتريد.
بدي شوية طعجات.
بدي اعمل اتصال، ممكن؟
جولة لنص نهار بالياباني؟
ايه عم فتش عهدية لاختي.
انا رايح عممفس.
فيك تشوف اذا فيه غير رحلة متوفرة؟
فيي احكي مع الآنسة كاوري واتانابي بغرفة ثمانمية واثنعش؟
عندك مشروب غير؟
حلو.
الحاق اشارة التاكسي.
ايه عننا منها اسود وبني.
اذا بتريد اعطيني شي منيح لشفايفي. قشبوا من الهوا بارد.
في شي اختصاصات محلية؟
عم فتش عشنطي.
بدي ليموناضة اذا بتريد.
تعلموا آخر موضة من التلفزيون والمجلات.
واحد غريب عرض انه ياخذ لي صورة وانا عطيته كاميرتي. بعدين هرب فيها.
عننا وقت نشوف المعرض من جوا؟
فيك تعمله ثلاثين جنيه؟
هالقد بدنا ننطر؟ شكرا عكل حال.
كثير منيح اذا بيعرفوا هالقد عن اليابان.
عم فتش عسوفينير لرفيقي.
بدي باص السياحة.
بدي استأجر بسكليتين اذا بتريد.
اذا بتريد اعطيني هيداك. شو بتسموه؟
فيك تلغي لي حجزي؟
عم تعاني من حالة حادة من التعب.
من وين بجيب السكاكين والشوك؟
بدي آخذ جولة اتعلم فيها عن الاهتمام بالحديقة.
اذا بتريد كله مع الصوص.
عن اذنك، ما عم لاقي كامرتي.
كيرلي ناعم، اذا بتريد.
كثير منيح منك انك جيت بالوقت اللي كنت فيه كثير مشغول.
جدي عمل سكتة قلبية الليلة الماضية.
اي ساعة فينا نتعشى؟
الاي سي مش اكيد. اذا بتريد حطوا القشاط.
وجهتي طوكيو.
ايه انا سايح.
من وين فيي جيب شنط جلد؟
بدي السمك والبطاطة، اذا بتريد.
لا، ما شفت حدا حوالي.
آخر انسان ممكن يكذب.
بتعرف شي ديسكو فيه يروح البنات الصغار عليه بامان؟
بدي راديو مع ساعة، اذا بتريد.
حوالي الشهر، استاذ.
بدي ارجع شوفك.
بدي صابون.
اذا بتريد فرجيني ثياب اولادي.
ما باعرف عنواني بعد. بس ناوي انزل باوتيل بسان فرانسيسكو.
فيك تكتب لي عنوانك هون؟
اكيد. اي ساعة بدك الحجز؟ كم شخص؟
مفروض تبقى عالشمال.
بدي اعزمك عالغدا.
وين بوابة البوردينغ للخطوط اليابان، رحلة رقم ميتين واربعتاعش؟
تحت المقعد حدك.
حديقة الحيوانات بعد ثلاث مفارق.
كول بسرعة.
من وين باشتري تكت للعبة بيسبول؟
بدي مقعد بالبوكس.
شو اللي بعده؟
اكيد. شنطتين ثياب وشنطة عادية، اذا بتريد خلي هالتكت.
فيه مجال اغطس المسا؟
اذا بتحب، فيك تطلب الترويقة عالطريقة الانكليزية بكلفة زيادة.
هيدا اول هدف بالموسم.
تعا نروح نتفرج.
رح استأجر هالنوع. حط تأمين السيارة.
انا كثير باعتذر.
قديه عسياتل؟
بنسبة كاملة، اذا بتريد.
غرفتي بوج شارع مضج.
لازم يرجع عالساعة اربعة المسا.
اذا بتريد اعمل لي تقرير خسارة عشنطي.
ما باعتقد بيجي قديه.
الشيانتي، اذا بتريد.
بدي عصير غريبفروت.
فيه شي محل حلو فينا نشوفه بثلاث ساعات؟
وين استلام الشنط لطيران يونايتد ثمانة صفر واحد؟
اذا بتريد خليني فكر للحظة.
فيه حظر تجول؟
فيي لاقي مقاعد باول صف هلق، او بدي انطر للعرض الثاني؟
هالسن بيوجعني.
عندي طفح جلدي. اي احسن دوا؟
احلام سعيدة.
بدي شي ليصح وجع الراس.
معي بس خمسين دولار.
شكرا الك. بيكون مبسوط.
بدي مقاعد مش غالية اذا فيه مجال.
منيو، اذا بتريد.
اوه. ايه غلطتي. باعتذر.
ايه، رح يجي.
انا بفيق مأخر الاحد.
كم يوم عطوكيو؟
شو الافلام المعروضة هلق؟
ايه، هيدا منيح. منشوفك عالستة ونص.
ايه. هون غرفة اثنين ثلاثة اربعة. مرتي كثير مريضة.
عندك قشاط بيلبق؟
بلا سكر. بس كريما.
ايه. بس قديه؟
انا من اميركا.
اي محلك المفضل؟
كنت عم فكر باول اسبوع من شباط. بعد بدي شوف الحجوزات.
فيه كذا كلب. صح؟
بدي اروق غرفة عنكن.
فيك تزيد جبنة تشيدر؟
عم دق بس لاتشكرك عمساعدتك خلال رحلتي عاميركا.
بدك تبعثهن بالبريد الجوي ولا البريد البري او البحري؟
بتقترح محلات فيي روح وارجع بنفس النهار؟
هالشارع غير الرحناه مبارح. هيدي طريق مختصرة؟
مش ضروري. باعتقد تعلموا يتعايشوا بعد سنين كثير من التحدي.
كيف حابب شعرك؟
انا من اميركا.
فيي آخذ حبش عخبز راي، وبدي زيادة مايونيز اذا بتريد.
وين المسرح؟
قصيت اصبعي.
دوري؟
فينا نتسلق الجبل مع عدة خفيفة؟
وين فيي اتفقد الزيت؟
معك غرفة ثلاثة اربعة خمسة بدي خدمة الغرف، اذا بتريد.
فيي شوف كتيب لرحلات لمعالم المدينة؟
خدني عاوتيل الفور سيزونز اذا بتريد.
بدنا نفتح حساب توفير مشترك انا ومرتي.
هالمنطقة آمنة للنسوان؟
اثنين كبار وولد اذا بتريد. بالمناسبة، شو يعني هيدي بي جي خمستعش؟
عبيت تنكة.
بتاخذ كرت اي بي سي؟
ما باتذكر وين تركته.
لازم ابعث هالبدلة عالتنضيف.
ايه. هيدا مفتاح غرفتي.
بتجي مع صفحة تعليمات؟
قديه اجار البريد عهالصورة؟
شو خاصية الموسم؟
فيي رد هيدي؟
اذا بتريد قل لي وين مقعدي.
بدي ضل تحت المية دولار.
بعطلة.
لا، ما معي كثير وقت. بس ترتيب.
طلبت وجبة نباتية.
ما باعرف بالقياسات البريطانية.
بدي اشتري فيلم كوداك ريفيرسال ستة وثلاثين صورة.
بدي ابقى بعد.
قديه تقريبا السعر عواشنطن سكوير بارك؟
عندي التهاب بالمهبل.
بدي دليل خاص.
فيك تبدل لي هيدا اذا بتريد؟
بدي اسالك عن نقطة رقم ثلاثة. فهمت مظبوط انه لازم ادفع حوالة بنك؟
سمعت انه السفينة اتحطمت بالاعصار.
شو نوع الاغراض اللي بدك ياها؟
شكرا كثير الك. كنت كثير خدوم.
شيك اوت، اذا بتريد.
فيك تعطيني بنج؟
بدي شوف كنيسة ترينيتي.
رحلة خطوط يونايتد خمسة ثلاثة.
عندك مانع تعمل لي الغدا تبعي قبل هيك بساعة؟
بيبيعوا الكحول بالمحل؟
شو الوراق المطلوبة لفوت عاميركا؟
كثير منيح. شكرا الك.
بدي تعمل لي طاقية جديدة.
بدي شي للدوخة.
هيدي البطاقة لمقعد اوركسترا. انت بالبلكون.
قديه بياخذ ترجيع السيارة؟
اوه. ليه معذب حالك. شكرا الك. هيدا اللي كان بدي اياه.
غير اللمبة اذا بتريد.
ايه، فيك. الغرفة جاهزة. اذا بتريد اكتب اسمك وعنوانك هون.
مافيه شي مهم.
بدي رخصة لصيد سمك؟
قديه لازم ادفع بالساعة؟
اي ساعة التشك ان؟
بدي آكل محار ني.
اذا بتريد جيبوا لي ترويقتي عالساعة سبعة.
رح ابعث لك هيدي الصورة. اسمك وعنوانك، اذا بتريد.
رح ادرس علوم في الجامعة.
باعتذر تأخرت.
بالبدابة، لازم قول اني ماني مختص بالامر، او بامثل اي منظمة حكومية. اللي بدي قلكن اياه كله وجهة نظري الخاصة. مع هالمؤهل، بدي احكي عن وجهة نظري.
ضيعتهن مبارح بعد الظهر.
بدي اعمل اتصال دولي. اذا بتريد اطلب لي ثلاثة اربعة ستة ثلاثة ثمانة واحد ثلاثة ثلاثة بطوكيو.
روحة رجعة، اذا بتريد.
قديه بدها لاوصل عسوهو مشي؟
مين ابرد بالشتا، اليابان او استراليا؟
حصل شي طارئ وما قدر يجي.
هيدي جلد مية بالمية؟
فينا ناخذ وجبة؟
رح آخذك لهونيك.
انا متأكد عطيتك خمسين دولار.
انبسطت فيك. اذا بتريد سلم لي كثير ععيلتك.
كنت حابب، بس للاسف لازم روح. يمكن ما الحق آخر ترين. انبسطت حكيت معك.
عن اذنك، بس انا ضايع. وين المخرج؟
من زمان. كان في عيد لحصاد الرز.
المشي بيوجع.
سمكة مهرج عنز المي لحقتني.
شو هيدا الملفوف بالورق الابيض؟
كم محطة لحوض السمك؟
شوف معلمين الشفاف، ايه؟
قديه قله هيك؟
باعتذر ما عرفت انك جاي اليوم.
"بسمع ""ريشينغر "" يستعمل كثير باليابان. شو بيعني؟"
فيك توصل هيدا الفستان علاوتيل تبعي بعد ما تظبط الطول؟
بيروح هيدا الباص عغرين بارك؟
بدي اعمل طلبية ترويقة.
اذا بتريد فيك تصدر لي باسبور مؤقت؟
بتعرف حكيم نسائي قريب من هون؟
من وين فيني اشتري جلد طبيعي بسعر معقول؟
اكيد عننا. مكدسين هونيك. شايف؟ المذكرات بينباعوا مثل الكيك السخن.
لا. مع كريم، اذا بتريد.
بدي احجز طاولة للعشا الليلة.
بدي مشروب ميثو.
بدي اكد حجزي.
حد مكتب الخطوط الجوية السنغافورية هونيك.
رح توصل لي هالكمبيوتر الشخصي، صح؟
عيونك حلوين.
عن اذنك، بتروح عالثالث والسبعة وعشرين؟
لازم روح هلق.
اذا بتريد قل لي اسماء مطاعم منيحة.
اوه، عن جد كثير حلو. مبين حلو عليك.
لوين رايح؟
الضباط. معنا مذكرة تفتيش. افتاح.
بدي تذكرتين لعرض الساعة ثمانة.
شكرا. الطقس مجنون دايما بلندن؟
ما حبيت هيدا النوع.
اي طريق لبرلين؟
ضيعت عقدي.
عم عيط للحارس.
هالرحلة رح تفل عالوقت؟
ايه، رح خلي هالشي ببالي.
لانه رح حضر هالسلمون بطريقة المونير.
بدي اتصال تفيق اذا بتريد.
حطه بكيس اذا بتريد.
بجيب شي لنشربه؟
بس نطير، منخبرك اكثر عن خدمتنا لليوم. بهالوقت، اذا في اي شي منقدر نعمله تا تستمتع اكثر بسفرتك، اطلوب وما تتردد.
كل مرة بافشل، بانجح ثاني مرة.
قديش بتكلف تودايته؟
شو دارج هلق؟
بس تخلص مع الشرطة، اتصل فيني مرة ثاني تاعطيك الارقام الثانيين اللي عايزهن.
عقديش وقت لازم نعمل العقد؟
كاس شابلي.
مثل العادة.
اذا بتريد بدي صرف هالمصاري بالجنيه.
انا من اسرائيل.
فينا ناخذ قشة، اذا بتريد؟
باعتقد انك قاعد على مقعدي.
بهيدي الحالة ما عننا وقت كفاية.
بتعمول فروضك؟
ضربني.
شو رأيك بالثلاثا؟
جاي من روسيا.
هيدا فيلم سريع كثير. باقدر طلع الفيلم؟
طلبية كولسلو لبرا، اذا بتريد.
باعتذر. بس لازم نروح.
التفسير بالانكليزي؟
هيدي كاسكاد ليمتد؟
شو القياس بالسنتيمتر؟
ممكن اشتري ربع رطل لحمة؟
كنت العب كاراتيه بس كنت بالمدرسة.
اها. بدي شي خمس دقايق.
باوصل صوب الساعة سبعة من عشية.
للاسف، كل الغرف الفرداويات محجوزين. بس بعد عننا كم اوضة مجوزة.
معك دانهيل؟
هلق بعدني واصل عالمطار.
بتقترح علي كم مطرح روح عليهن وارجع بيوم واحد؟
بدي شوف هالقميص.
عملت غلطة. باقدر آخذ واحد جديد؟
وين الكتب اللي فيهن صور؟
بالعادي هو بخمسة وثلاثين دولار بس اليوم عاملين خصم خمسة وعشرين بالمية فبيصير بس بستة وعشرين دولار وخمسة وعشرين سنت.
عبالي العب تنس مع حدا.
اي. هودي الالوان دارجين هلق.
فيك تعطيني صحن جديد لهودي؟
طيب، بس كاس واحد بس.
فيك تنصحني بنبيذ طيب؟
شي مؤسف انه رح نلغي، بس ما فينا نعمل شي.
هيدا هو الزلمه.
باقدر آخذ هيدا معي هلق؟
هيدا اكثر شي باحبه. ان شاء الله تنبسط.
فيك تنصحني بمطعم منيح قريب من هون؟
بيكونوا مية وخمسة وعشرين دولار، يا مادام.
فيه شي مطعم مرتب بيطل عمنظر حلو قريب من هون؟
بدي وظيفة مع الحكومة.
هيدا الترين بيروح دغري عسياتل؟
خمستعش تموز.
ايمتى اول عرض؟
عنده تشكيلة حلوة من البرونز.
وين موجوع؟
شو فيه شي رخيص ومنيح؟
باي.
بقديش هول؟ فيك تكتب السعر عورقة؟
هالسيارة رايحة عشيكاغو؟
ما حبيتهن. اذا بتريد ما تحط فيهن سمك انشوفة.
طيب. مبين بيسلي. شو رأيك بنهار السبت الساعة اثنين؟
باعتذر، الليلة مفولين.
وين موجود عالخريطة؟
ان شاء الله تنبسط.
رح نبلش باستدعاء الركاب اللي معهن اولاد والركاب اللي بدهن مساعدة خاصة وركاب الدرجة الاولى.
اكيد. تفضل.
فيه شي رحلات عبيوت نجوم مشهورين؟
وجع اسنان كثير قوي وما بينحمل.
فيك تقل لي كيف باوصل لهونيك؟
فيك تاخذ المصعد رقم واحد او المصعد رقم اثنين.
كيف باقدر جيب دفتر سواقة؟
جيت تا آخذ سيارة. هيدا رقم حجزي.
سألت عن القسم اللي مافيه تدخين. باقدر آخذ مقعد ثاني؟
فيك تفرجيني كيف بيعبوا بطاقة هجرة اذا بتريد؟
اي ساعة لازم نرجع؟
"شو هو ""او-بون""؟"
اي ساعة بيخلص؟
بيقدروا الاولاد يروحوا عالجولة من دون مرافقة الكبار؟
وين باقدر دخن؟
بدي ستيك مش مستوية.
وين باقي؟
بدي اوضة بتختين بتطل عالمحيط. قديش اجار الاوضة؟
ويسكي دابل، اذا بتريد.
باقدر استعمل هيدي العربة تبع الشنط؟
يي شو هالحظ البشع. لازم كون بلوس انجلس الجمعة الصبح.
اخذت نقطة.
بورصة وال ستريت مفتوحة لعامة الناس؟
بدي شي عرضه واسع.
اذا بتريد فرجيني بطاقة الرجعة.
تركت كتاب المواعيد بكابين التلفون.
بتروح معي تا نبش عالماسك تبعي؟
صابتني دوخة الطيارة.
بعد اذنك، باقدر اتصور معك، اذا بتريد؟
بدنا نعزمك عالعشا بكرة من عشية.
بدي مقلاية.
هيدا الترين بيمرق بال باسو؟
قديش حقهن مع بعض اذا بدي اشتري ثلاثة؟
ممنوع التدخين، اذا بتريد.
باقدر غير هالبطاقات لعرض بكرة؟
باقدر اتسجل هون للسفرة عخطوط يونايتد الجوية؟
لازم نلبس كبوت وكرافات كرمال جولة الليل؟
فيك تشيل السعر، اذا بتريد؟
قولك قديش بيكلف من هون للمطار؟
وين مصنوع؟
انت مش صيني، ما هيك؟
باقدر اسألك شو اسمك؟
اذا بتريد فرجيني صورة عن هويتك.
تلميذ واحد، اذا بتريد.
باقدر سوق؟
مراقبة المخزون كثير مهمة لكل شركة.
سمعت الاخبار؟
فيك تحمل لي الشنطة عالتاكسي؟
شامبو، اذا بتريد.
الغدا جاهز.
عندك شي وجبة خفيفة بتلبق مع المشروب تبعي؟
باحكي شوية انكليزي بس.
البحر هايج الليلة؟
شي نص ساعة.
عم فتش عهدية لولد صغير.
باعتقد انه هيدا النوع اللي بدنا نستورده.
سيارتي تعطلت. بدي بلاطة عالسريع.
بدي كتاب مصور، اذا بتريد.
اذا بتريد استعمله كصينية.
رح تروح عمدرسة؟
لف عاليمين بتلاقي واحد عثاني زاوية.
فيك تاخذ سيارة دغري برات هالباب.
مش مشكلة. معنا كثير وقت.
اي واحد مشهور اكثر؟
صارت القصة بين منطقة تشيرنغ كروس وغرين بارك.
شوية فواكه اذا بتريد.
بتمارس شي نوع رياضة؟
مسافة مشي؟ او كثير بعيد تالواحد يمشي؟
عندي حفلة الليلة. ظبط لي شعري اذا بتريد.
كيف بيلتفظ اسم هالمطرح؟
قديش ميزانية دعايتك؟
بدي شي مطرح اقدر آكل فيه اكل محلي.
بدي فل باقرب وقت ممكن. فيه شي سفرة ابكر؟
باشكرك عكل نصايحك. انت كثير آدمي.
بدنا طاولة حد الشباك.
بدي ارجع عالاوتيل تلاقي كاميرتي.
بدي اعمل اتصال من محطة لمحطة عطوكيو، اذا بتريد.
اي واحد جونغفرو؟
فيك تعمله بنص ساعة؟
اي، رح جيب لعبة يابانية لرفيقي.
هودي اعاصير. اذا ضربوا اليابان بيسببوا كوارث كبيرة.
بدي نسخة طبق الاصل للي رايدرز الف وتسعمية واربعة واربعين موديل مية وواحد.
اي، بس اذا بتريد ما تخليهن يروحوا عالطرف الغميق من الجاكوزي.
اي ساعة بتفتح؟
فيه واحد بآخر هالصالة.
معك سوجيتا من الاوضة الف وثلاثمية وعشرين. هلق سجلت دخولي بس طلعت الاوضة اصغر مما توقعت. باقدر غيرها؟
قديش كبروا؟
قديش رح تضل بمدينة نيويورك؟
ارسم لي خريطة، اذا بتريد.
صار لي خمس ايام معدتي كاتمة.
بتعيرني حبل للقطر؟
رح تقدر تبعث هيدي بالبريد؟
باقدر آخذ خردل؟
بس اطلع برا البلد بفقد عقلي، بصير اصرف مصرياتي شمال ويمين.
"باقدر آخذ بطاقتين ل#""لي ميزيرابل"" لعرض سبعة حزيران؟"
بدي وعي للاكل.
كثير منيح، شكرا. وانت؟
فيه براد مليان مشروبات بالسيارة من ورا.
عن جد؟ ما كنت عارف.
شو فئة دمك؟
شارع هدسون المحطة الثالثة؟
صورنا صورة، اذا بتريد.
حافظت عارقام شيكاتك؟
ايمتى ووين باقدر آخذه؟
اذا بتريدوا ظبطوا مقاعدكن بوضعية جالسة.
باعتذر عالازعاج. باقدر آخذ قلم مي احمر؟
فيك تطلب لنا تاكسي؟
رح ارجع.
رح ادفع من التأمين.
عيوني ملتهبين.
باشكرك نفس الشي بس لازم روح.
باعتقد فيه غلط بالفاتورة. فيك تتأكد اذا بتريد؟
اي نوع عطر بتحب؟
بدي انزل عكنيسة مار بول.
ما باعرف اي واحد بالبس.
تفضل. اشهر واحد.
"اذا بتريدوا بكلوا الاحزمة انطروا اشارة ""ممنوع التدخين"" تتطفي."
حاسة بوجع وخفقان حوالي معدتي.
بيض مئلي الميلة المحمرة من فوق مع بايكون، اذا بتريد.
ما حدا بهالاسم عايش هون.
"باقدر آخذ بطاقتين للكبار ل#""كاتس""؟"
بلو كات. غنية جاز رباعية قديمة.
المجوهرات من دون ضريبة جمارك؟
مقعد مش محجوز اذا بتريد.
سكرت حديقة الحيوانات؟
بدي احجز اوضة صغيرة.
بدي احجز عالخطوط الجوية اليابانية بعشرين ادار.
الترين بيمشوا من محطة كينغ كروس.
ما عندك شي للاكل؟
بحب التفاح بس اليوم عبالي عنب.
اي، وبدي ادفع ببطاقة الائتمان.
من اي جلد مصنوع هالجزدان؟
عندك مفك براغي؟
بدك حلو؟
بدي ورقة خمسة دولار وخمس اوراق عشرة دولار اذا بتريد.
عم فتش عقميص لبنت عمرها عشر سنين؟
سكر مرة واحدة، اذا بتريد.
قديش رسم الباص عبوسطن؟
شو بتنصحني شوف اكثر من اي شي بكيوتو؟
وين بتشتغل؟
عنيف؟
شكرا. انا ممنون لاهتمامك.
عندك ملصقات؟
ايمتى ابكر شي؟
افحاص كل شي، اذا بتريد.
اعطينا طاولة حلوة قريبة من المسرح، اذا بتريد.
اذا بدك تدخن، اذا بتريد نقول عالمقاعد رقم اربعين لخمسين.
بالطابق الخامس.
وين من قدم التقرير؟
بدي روح عاقرب موقف باص.
بدي غير سفرتي تتصير بتسعة تشرين الاول.
اي طابق؟
فيك تفرجيني تذكرة؟
فصيلة دمي ايه.
شيك سياحي، ماشي؟
اكيد. سقت بهالمنطقة اكثر من عشر سنين.
مفتاحي اذا بتريد. اوضة رقم ثلاثمية وواحدة واربعين.
اذا بتريد اصرف لي هالمصريات عالدولار.
اخذت مي من الحنفية مع ثلج.
لازم تاخذ دوا للمعدة.
من وين باقدر آخذ ليموزين عاوتيل هيلتون؟
فيك تبعث لي الاشيا اللي تركتهن؟
فيه باص بياخذ الناس من هوليداي ان؟
شكرا. فيك تعمل السلطة؟
بطاقتين لليلة، اذا بتريد.
بدي علاج لحب الشباب.
بدي احجز للساعة سبعة.
رفيقي وقع بالهاوية.
قديش تكلفة التلفون عاليابان؟
بدي لمع بوطي.
تركت شنطتي بشي مطرح.
بتبيع خراطيش لاقلام الحبر؟
مناخد المترو، بس بالاول لازم نجيب فيش.
وين موجود المقعد؟
بعدين روح من القناة الخضرا.
باقدر آخذ طلبيتك يا استاذ؟
بتعرف شي ايمتى رح ينعقد؟
وين مصنوع بالاصل، ومن قديش؟
نزله حد البيغ اوتيل، اذا بتريد.
اذا بتريد عبي هيدا بس ترد السيارة.
بدي عشا باربعين دولار عالشخص.
منستعمل تشوبستيكس تناكل.
شافوا انه نحنا هون كرمال الثلج.
اذا بتريد افحص لي سيارتي.
بتعرف شي مطاعم بيفتحوا بوقت مأخر من الليل؟
اذا بتريد قلها تتصل فيي بس توصل.
ايمتى منوصل عتشيستر؟
قطعت موقفي.
هالمحل متعدد الاقسام هو احسن شي بالمدينة. انا اكيد انه فيك تجيب السجادة اللي عم بتفتش عليها.
بحبها لدرجة انه من زمان بدي اجي زورها.
بدي مقعد قريب عمخرج الطوارئ.
اي، شو بدك تغير؟
بعد ما اجا اكلنا.
في كثير اولاد بيروحوا عمدارس تحضيرية تيكونوا احسن بالثنوية وبالجامعات.
اكيد بتقدر. اذا بتريد فتحه.
عبالي اغطس.
هيدا شارع كينج.
روح عثالث تقاطع طريق.
فيه شي محل ثياب نسواني منيح؟
باقدر انقل عمقعد حد الشباك؟
هالشرف اكثر مما بستاهل.
باشكرك عالنطرة. عم يحكيك اوهنو.
طيب. لحظة بس. رح ابعث حدا عالاوضة.
فيه شي منحدرات للمبتدئين؟
مسموح آخذهن معي برا البلد؟
فيك تدلني عطريق محطة المترو؟
بدي راديو.
انباعوا كل بطاقات الفئة اس.
بدي مقعد حد الفرقة الموسيقية.
اي، باعتقد انه رح بلش بشوربة البطلينوس.
عندك شي حساسية؟
الخميس.
ما استعملت خدمة الغسيل اللي عندك.
دغري لقدام.
بدي احكي معك اكثر.
اي ساعة بتبلش الاوبرا؟
فيك تحجز لي مقعد؟
وين مقعدي؟
اي، يا استاذ. تفضل.
كان الشغل منيح اليوم، ما هيك؟
معليش صور هالبناية؟
هالراديو هدية؟
بعد جمعة راجع عاليابان.
بتبيعوا سلع من دون رسوم جمركية بالسفرة؟
وين اقرب مكتب بريد؟
بعد اذنك. من المفروض انت السيد سميث؟
اربع عشرينات، عشرة واحدة، والباقي ورق الدولار الواحد.
معي سبعمية دولار في شيكات سياحية وثلاثمية دولار نقدي.
بدي ارجع اكد سفرة الرجعة عطوكيو الاربعا اللي جاي.
اي ساعة بيمشي آخر باص؟
شو رح تاخذ؟
نضفه، اذا بتريد.
عندك طوابع؟
وين مدينة الملاهي؟
قديش بعد اقرب محطة بنزين؟
اذا بتريد ابعات هالرسالة بالبريد الجوي.
بدي اكد سفرة.
قديش حقه هيدا؟
مرحبا. اتفرج.
فيك تاخذني من بيتي عالساعة سبعة؟
مش ضروري اذا ما تخطيت حدود الاعفا من الضرايب، بس بانصحك تصرح بس للضرورة.
اي، استاذ. كم شخص فيه بحفلتك واي ساعة بدك؟
باي سرعة طايرين هلق؟
خوذ ثلاث حبوب فرد مرة.
فاقد وعيه.
قنينة شامبو للشعر المدهن، اذا بتريد.
شي جمعتين.
وين الخزانات اللي بالعملات المعدنية؟
معي تسعمية دولار.
باعتذر. طلبت الرقم الغلط.
بتعطيني دوا؟
مافيه شي باحبه. باعتذر. ما بدي اعمل شي.
قولك فيه امل بهالعلاقة؟
عندك لايحة اصناف بالانكليزي؟
لازم تاخذ الباص رقم سبعة.
شو المواصفات اللي لازم تكون عند الشخص تيقدم عهالوظيفة؟
بدي اعمل اتصال خارجي عاليابان.
لأ. شارع واحد من هون.
معي روماتيزم.
شو صار؟ ما قدرت شوف.
الاوض اللي حد بعض، اذا بتريد.
باعتذر، بس مش باقي عننا غير مقاعد حد الممر قدام.
باقدر آخذ بطاقة لمقعد بالطابق الاول؟
اي خط باص بيوقف بشارع هوب؟
عننا جاز من ايف سان لوران.
اعطيني غليون.
انت السيد ايبرت، بالصدفة؟
في تدلني عمقعدي، اذا بتريد؟
معي ميتين دولار نقدي والفين دولار بالشيكات السياحية.
معدتي معصبة.
اي ساعة بادفع، هلق او وقت اطلع؟
وين الدير؟
انبسطت بشوفتك.
هي شنطة زرقا.
وين باقدر غسل الكاميرا؟
من وين باقدر جيب طوابع؟
بدي قلم تعليم حواجب.
بيعدي.
ما تتخطى الزيح، اذا بتريد.
ايمتى باقدر رجعه؟
ما رح لحق الترين.
رحلة الخطوط الجوية اليابانية رقم خمسمية وثلاثة بخمسة ايار، حجزت بطوكيو.
بدي احجز لثلاث اشخاص لليوم الساعة ثمانة عشية.
قديش عالكلمة باليابان؟
باعتقد انه الاقتراحات مناح شرط نلاقي الاشخاص الصح.
بطاقتين روحة رجعة عواشنطن دي سي، اذا بتريد.
قديش بده الترين المحلي تيوصل عبوسطن؟
ادفاع عني.
قديش الكلفة عباريس؟
ما بيعدي.
كم مرة لازم آخذ هالدوا؟
بعد اذنك، فيه شي تقاطع طريق للمشاة قريب من هون؟
انت بنص الجادة الجنوبية.
باصلح لك محل ما بتنام؟
اعمله مثل ما هو، اذا بتريد.
اذا بتريد كلم مكتب المفقودات.
فرام الاجر مش ماشي.
شو خيارات مشروبات الدخول عندك؟
لوين رايح؟
هيدي هدية لرفقاتي.
هيدي المازة عيار قراط واحد ما هيك؟
كيف باطلب؟
ضابط.
حاسس حالي كسلان.
يمكن.
ايمتى فالل؟
فيه شي قيم او بينكسر بشنطتك؟
باعتذر. بس ما باعرف وين مقعدي.
ايكيبانا هو فن ترتيب الزهور. باليابان فيه اكثر من ثلاث آلاف مدرسة ايكيبانا.
خوذ الوصفة عالصيدلية.
فيه شي حلبة تزلج قريبة من هون؟
فيك تهدي لي الكاميرا بس فوت، اذا بتريد؟
هيدا هو الباص؟
هيدا دليل في بقلبه كثير جولات سياحية بالباص، من ضمنهن جولات نهار كامل ونص نهار وجولات بالنهار وبالليل.
بعد فيه قهوة؟
فيك تقل لي كيف بعبي هالاستمارة؟
اي نوع اوض بتحب؟
غلطتي انا.
باقدر اتصل مباشرة من اوضتي؟
تأكد انه حزام الامان مبكل منيح.
فيك تهجي لي يا؟
يا دكتور فيك تعطي علاج موقت؟
معناتا انك ضيعت الفيزا تبعك كمان. لازم ترجع تعبي اوراق الهجرة.
التلفيزيون معطل.
بطاقة روحة رجعة عاوكسفورد، لخمسة الشهر الساعة تسعة.
فيه بقلبه كاميرا. اتركه بمطرح آمن اذا بتريد.
لأ، شكرا. بكل الاحوال، رح يكون عتم باكثرية وقت السفرة.
بيتضمن مشروب؟
عصير ليمون وبيرة وويسكي وكوكتيلات.
بتاخذ شيكات سياحية؟
بتمرق لي الملح؟
اذا بتريد اطلوب الرقم ثمانة.
بدي مكبر صوت.
فيه جولة مشي عمطارح مشهورة.
بيكون ممنونك اذا بتجدد العقد.
وين اسم المفقودات؟
اذا بتريد قل لي اي مطعم مشهور بالاكل المحلي.
وقعت كاميرتي. فيك تشوف لي اذا بها شي؟
عندي ممتلكات شخصية بهالشنطة.
بدي روح عالحمام، بس معي شنط كثير. لازم انطر.
الاوضة اللي حدي مزعجة.
روعة. مافيه يكون قليل الدسم. الثنين سوا.
خمستعش ايه. قاعد بالمطرح الغلط؟
مظبوط هالشي؟ طيب، شو رح يصير؟
تضررت شنطتي.
بس تشوف واحد، لوح بايدك.
مقاعد اول طابق، اذا بتريد.
بدي بطاقة جديدة.
هدية لامي.
بدي ابعث هيدي الرسالة بالبريد الجوي.
الفيلم بيبلش الساعة عشرة ونص بالليل وبيخلص الساعة واحدة بعد نص الليل.
تفضل الباقي، يا استاذ.
من وين باقدر جيب بطاقة سفر بسعر مقبول؟
وين طاولة الاكسسوارات؟
عم بيقولوا تحت الصفر.
بدي ادفع خمسين دولار وعشرين الف ين ياباني للتوازن.
عندك نموذج كيف يتملي؟
فيك تفرجيني كيف بيلعبوا هاللعبة؟
لانه بامريكا، كثير هينة الواحد يفوت عالجامعة بس كثير صعبة انه يتخرج.
